@import (reference) 'variables.less';

.detail-card {
  padding: 24px;
  font-family: 'Source Sans Pro', sans-serif;
}

.detail-description {
  margin: 0;
  padding: 0;
}

.detail-description__item {
  list-style: none;
  margin: 8px 0;
}
