@import 'variables';

.header {
  background-color: white;
  .box-shadow(@card-shadow);
  max-width: 100%;
  margin: 16px;

  font-weight: 300;

  > div {
    display: inline-block;
    margin-left: 16px;
  }

  h1 {
    font-weight: 300;
  }

  a {
    text-decoration: none;
  }
}

.address {

}

.address__city {
  > a {
    text-decoration: none;
    color: @text-color;
  }
}

.contact {
  margin-top: 16px;
}
