@import 'variables';
@import 'mixins';

.header {
  .clearfix();

  background-color: @header-background-color;
  .box-shadow(@card-shadow);
  width: 100%;

  font-weight: 300;
  color: white;

  > div {
    display: inline-block;
    margin: 16px;
  }

  h1 {
    font-weight: 300;
  }

  a {
    text-decoration: none;
  }
}

.details {
  float: right;
  text-align: right;
  font-size: 14px;
}

.address {

}

.address__city {
  > a {
    text-decoration: none;
    color: white;
  }
}

.contact {
  margin-top: 16px;
  a {
    color: white;
  }
}
