@import 'variables';

.header {
  font-weight: 300;

  h1 {
    font-weight: 300;
  }

  a {
    text-decoration: none;
  }
}

.address {

}

.address__city {
  > a {
    text-decoration: none;
    color: @text-color;
  }
}

.contact {
  margin-top: 16px;
}
