@import (reference) 'mixins.less';

@header-background-color: #607d8b;
@background-color: #eceff1;

@text-color: #263238;
@card-shadow: 0 1px 6px rgba(0, 0, 0, 0.12);
@card-shadow-hover: 0 3px 10px rgba(0, 0, 0, 0.16);
@card-shadow-hover-mega: 0 10px 30px rgba(0, 0, 0, 0.19);


@gulp-red: #cf4646;
@angular-red: rgba(221, 27, 22, 1.0);
@npm-red: #cb3837;
@bower-yellow: #FFCC2F;
@less-blue: #1d365d;
@node-green: #80bd01;
@sql-red: rgba(186, 20, 26, 1.0);
@ruby-red: rgba(204, 52, 45, 1.0);
@vs-purple: rgba(103, 33, 121, 1.0);
@css3-blue: rgba(20, 160, 221, 1.0);
